body{
    background-color: #E5E5E5;
}

#content-wrapper{
    position: relative;
    display: flex;
}


#header{
    position: sticky;
    width: 260px;
    height: 100vh;
    top: 0%;
    left: 0%;
    background-color: #FFFFFF;
}

#logo img{
    width: 190px;
    height: 56.88px;
    margin-top: 50px;
    margin-left: 35px;
}


#nav-content{
    margin-top: 50px;
    margin-left: 35px;
}

 

.nav-content__item a{
    border-radius: 5px;
    background: #2EAFB2;
    font-weight: 600;
    font-size: 14px;
    width: 211px;
    height: 50px;
    margin-top: 11px;
    display: flex;
    align-items: center;
    color: white;
}

.nav-content__item i{
    margin-left: 16.5px;
    margin-right: 10.5px;
}

.inicio a{
    color: black;
    background: #E5E5E5;
    border-radius: 10px 0px 0px 10px;
    width: 226px;
}

.inicio i{
    margin-left: 17.25px;
    margin-right: 11.25px;
}

