body{
    background-color: #FF6C22;
}


#formulario{
    width: 62.73vw;
    height: 512px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-items: center;
    margin-top: 1rem;
    background: #ffffff;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    position: relative;
}


#formulario-wrapper{
    display: flex;
}


#formulario-first__base{
    width: 34.62vw;
    height: 513px;
    position: absolute;
    left: 0%;
    top: 0%;
}

#formulario-first__base img{
    margin-left: 84px;
    margin-top: 70px;

}

#formulario-first__base legend{
    margin-left: 57px;
    
}


#formulario-second__base{
    position: absolute;
    right: 0%;
    top: 0%;
}   

#img-third__base{
    position: absolute;
    right: 49px;
    top: 99px;
}






.acess{
    width: 313px;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    outline: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 161.5%;
    color: rgba(0, 0, 0, 0.35);
}

.acess::placeholder{
    padding: 0 12px;
}

.int-email{
    margin-left: 57px;
    margin-top: 118.46px;
}

.int-password{
    margin-left: 57px;
    margin-top: 13px;
}

#btn-login{
    margin-top: 13px;
    margin-left: 57px;
    background: #2EAFB2;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 151px;
    height: 40px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 186.5%;
    text-align: center;
    color: #FFFFFF;
}