body{
    background-color: #FF6C22;
}



#formulario{
    background: #ffffff;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    height: 512px; 
    justify-items: center;
    margin: auto;
    margin-top: 8vh;
    position: relative;
    width: 62.73vw;
}


#formulario-wrapper{
    display: flex;
}


#formulario-first__base{
    height: 513px;
    left: 0%;
    position: absolute;
    top: 0%;
    width: 34.62vw;
}



#formulario-first__base img{
    margin-left: 84px;
    margin-top: 70px;

}


#formulario-first__base legend{
    color: rgba(0, 0, 0, 0.44);
    font-style: normal;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 186.5%;
    margin-left: 57px;
    margin-top: 44.46px;
}


#formulario-first__base legend > span{
    color:#FF6C22 ;
}


#formulario-second__base{
    position: absolute;
    right: 0%;
    top: 0%;
}   

#img-third__base{
    position: absolute;
    right: 49px;
    top: 99px;
}



#acess-email,
#acess-password{
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.35);
    display: flex;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    height: 44px; 
    line-height: 161.5%;
    margin-left: 57px;
    margin-top: 20px;
    outline: 0;
    width: 313px;
}



.int-email{
    border: none;
    display: flex;
    height: 19px;
    margin: auto;
    outline: 0;
    width: 288px;
}


#acess-password{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}


.int-password{
    border: none;
    display: flex;
    height: 19px;
    margin: auto;
    margin-left: 12px;
    outline: 0;
    width: 288px;
}


.fa-eye-slash{
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}



#btn-Linklogin #btn-login{
    background: #2EAFB2;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    height: 40px;
    line-height: 186.5%;
    margin-top: 0px;
    margin-left: 57px;
    text-align: center;
    width: 151px;
}